<form>
  <h1>UPDATE CATEGORIA</h1>

  <mat-form-field class="form" appearance="fill">
    <mat-label>Nome</mat-label>
    <input
      [(ngModel)]="categoria.nome"
      matInput
      type="text"
      name="nome"
      placeholder="Ex. Computação"
    />
  </mat-form-field>
  <mat-form-field class="form" appearance="fill">
    <mat-label>Descrição</mat-label>
    <textarea
      matInput
      [(ngModel)]="categoria.descricao"
      type="text"
      name="descricao"
      placeholder="Ex. Livros Computação"
    ></textarea>
  </mat-form-field>

  <div class="buttons">
    <button
      class="mat-elevation-z8"
      mat-stroked-button
      color="primary"
      (click)="update()"
    >
      ATUALIZAR
    </button>
    <button
      class="mat-elevation-z8"
      mat-stroked-button
      color="warn"
      (click)="cancel()"
      type="button"
    >
      CANCELAR
    </button>
  </div>
</form>
