<form>
  <h1>ATUALIZANDO LIVRO</h1>

  <mat-form-field class="form" appearance="fill">
    <mat-label>Titulo</mat-label>
    <input
      matInput
      [(ngModel)]="livro.titulo"
      required
      type="text"
      name="titulo"
      disabled
    />
  </mat-form-field>

  <mat-form-field class="form" appearance="fill">
    <mat-label>Nome do autor</mat-label>
    <input
      matInput
      [(ngModel)]="livro.nome_autor"
      required
      type="text"
      name="nome_autor"
      disabled
    />
  </mat-form-field>

  <mat-form-field class="form" appearance="fill">
    <mat-label>Texto</mat-label>
    <textarea
      matInput
      [(ngModel)]="livro.texto"
      required
      type="text"
      name="texto"
      disabled
    ></textarea>
  </mat-form-field>

  <div class="buttons">
    <button
      (click)="delete()"
      class="mat-elevation-z8"
      mat-stroked-button
      color="primary"
    >
      DELETAR
    </button>
    <button
      (click)="cancel()"
      class="mat-elevation-z8"
      mat-stroked-button
      color="warn"
      type="button"
    >
      CANCELAR
    </button>
  </div>
</form>
