<form>
  <h1>CRIANDO NOVA CATEGORIA</h1>

  <mat-form-field class="form" appearance="fill">
    <mat-label>Nome</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="categoria.nome"
      name="nome"
      placeholder="Ex. Computação"
    />
  </mat-form-field>
  <mat-form-field class="form" appearance="fill">
    <mat-label>Descrição</mat-label>
    <textarea
      matInput
      type="text"
      [(ngModel)]="categoria.descricao"
      name="descricao"
      placeholder="Ex. Livros Computação"
    ></textarea>
  </mat-form-field>

  <div class="buttons">
    <button
      (click)="create()"
      class="mat-elevation-z8"
      mat-stroked-button
      color="primary"
    >
      CRIAR
    </button>
    <button class="mat-elevation-z8" mat-stroked-button color="warn">
      CANCELAR
    </button>
  </div>
</form>
